*{
    margin: 0px;
    padding: 0px;
    
}
.text-center{
    text-align: center;
}
/* Navigation styles */
nav{
    background-color: #156EAC;
    padding: 20px;
    position: sticky;
    top: 0%;
    z-index: 9999;
}
nav ul {
    text-align: right;
    
}
nav ul li{
    display: inline;
    margin-right: 5px;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li a.active {
    text-decoration: underline;
}
body,html{
    height: 100%;
    background-color: beige;